.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

body.dark-mode {
	background-color: #1a1a1a;
	color: #ffffff;
}

body.dark-mode nav {
	background-color: #333333;
}
#tabla thead{
	background-color: #333333;
	border-color: #555;
	color: #ffffff;
}

body.dark-mode nav .navbar-brand {
	color: #28a745; /* Color del texto del logotipo */
}

body.dark-mode .card {
	background-color: #333333;
	border-color: #555;
	color: #ffffff;
}
.card {
	background-color: #333333;
	border-color: #555;
	color: #ffffff;
}
body.dark-mode .card-header {
	background-color: #555;
	border-color: #555;
	color: #ffffff;
}

body.dark-mode .form-control {
	background-color: #444;
	color: #ffffff;
}
.dark-mode{
	background-color: #333333;
	border-color: #555;
	color: #ffffff;
}
table#tabla th.option {
	width: 200px;
  }